@font-face {
  font-family: "openSans";
  src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

:root {
  --backgroundColorMain: rgba(44, 53, 49, 1);
  --backgroundColorContent: rgba(217, 176, 140, 1);
  --textColorMain: rgba(209, 232, 226, 1);
  --textHighlight: rgba(17, 100, 102, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundColorContent);
  color: black;
  margin: 0;
  padding: 0;
  font-family: "openSans", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutMe {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: -1;
  padding-inline: 10%;
}

.aboutMe h1 {
  text-align: center;
  font-size: 3rem;
}

.aboutContent {
  display: flex;
  position: relative;
}

.techImage {
  margin-right: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  animation: imageMove 2s 1s forwards, imageReset 0.5 10s forwards;
}

@keyframes imageMove {
  from {
    left: 50%;
    transform: translate(-50%);
  }
  to {
    left: 0%;
    transform: translate(0%);
  }
}

@keyframes imageReset {
  from {
    position: absolute;
  }
  to {
    position: static;
    cursor: pointer;
  }
}

.techImage img {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  animation-name: imageScale;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes imageScale {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

.stackHeader {
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;
  animation-name: stackVisible;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes stackVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.techStacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  opacity: 0;
  animation-name: stackIconsVisible;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes stackIconsVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.techIcon {
  width: 50px;
  height: 50px;
  background-size: contain;
}

#HTML5 {
  background-image: url(/images/html.svg);
}

#CSS3 {
  background-image: url(/images/css.svg);
}

#JS {
  background-image: url(/images/JavaScript.svg);
}

#figma {
  background-image: url(/images/Figma.svg);
}

#wordpress {
  background-image: url(/images/wordpress.svg);
}

.aboutText {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  opacity: 0;
  animation-name: showAboutText;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes showAboutText {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.contact {
  display: flex;
  justify-content: center;
}

.contactHeader {
  font-size: 2rem;
}

.arrowButton {
  height: 50px;
  width: 100px;
  background-color: var(--backgroundColorMain);
  position: absolute;
  top: -50px;
  left: 50%;
  border-radius: 10px 10px 0px 0px;
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.arrowButton:hover {
  cursor: pointer;
}

.projectNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xIcon {
  width: 50px;
  height: 50px;
  background-image: url(/images/xIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.xIcon:hover {
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: var(--backgroundColorMain);
  color: var(--textColorMain);
  padding-inline: 20px;
  margin-top: 100vh;
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.selectedProject {
  background-color: var(--textHighlight);
  padding: 10px;
}

.selectedProject h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.selectedProject p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.projects img {
  width: 100%;
}

.projectCard {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding-inline: 10px;
  padding-top: 10px;
}

.default:first-child,
.active {
  background-color: var(--textHighlight);
}

.default:first-child img,
.active img {
  filter: blur(2px);
}

.projectCard h3 {
  margin-bottom: 0;
}

.projectCard:hover {
  cursor: pointer;
}

.projectCard:last-child {
  border: none;
}

.selectedImage {
  margin-right: 10px;
  max-width: 900px;
  float: left;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.buttonContainer a {
  border: 2px solid var(--textColorMain);
  padding: 5px;
  text-decoration: none;
  color: var(--textColorMain);
  transition: background-color, color 0.3s;
}

.buttonContainer a:hover {
  background-color: var(--textColorMain);
  color: black;
}

@media screen and (max-width: 1000px) {
  /*remove animations*/

  .techImage {
    animation-name: none;
    position: relative;
    width: 100%;
  }

  .techImage img {
    animation-name: none;
  }

  .stackHeader {
    opacity: 1;
    animation-name: none;
  }

  .techStacks {
    opacity: 1;
    animation-name: none;
  }

  .aboutText {
    opacity: 1;
    animation-name: none;
  }

  /*Media styling */

  .aboutMe {
    position: relative;
  }

  .aboutContent {
    flex-direction: column;
  }

  .projects {
    margin: 0;
    padding: 0;
  }

  .cardContainer {
    gap: 0;
  }

  .projectCard {
    padding-inline: 10px;
    padding-top: 10px;
  }

  .projectNav h2 {
    margin-left: 10px;
  }

  .selectedProject {
    padding-inline: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .arrowButton,
  .xIcon {
    display: none;
  }

  .selectedText {
    text-align: center;
  }

  .buttonContainer a {
    background-color: var(--textColorMain);
    color: black;
  }
}
