.cardContainer {
  --border-angle: 0deg;
  
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 300px;
  border-radius: 20px;
  background-color: var(--boxColor);
  transition: transform 0.1s ease-in;
  overflow: hidden;
  border: 2px solid transparent;
  background-image: 
    linear-gradient(var(--boxColor), var(--boxColor)),
    conic-gradient(from var(--border-angle), 
      transparent 0deg,
      transparent 120deg,
      var(--elementColor) 180deg,
      transparent 240deg,
      transparent 360deg);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.cardContainer:hover {
  cursor: pointer;
  transition: transform 0.1s ease-in;

  .heightWrapper {
    max-height: 100%;
    transition: max-height 0.2s ease-in;

    .cardInfo {
      h3 {
        margin-bottom: 0px;
        transition: margin-bottom 0.1s ease-in;
      }
    }
  }
}

.projectImage {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.heightWrapper {
  max-height: 60px;
  transition: max-height 0.2s ease-in;
}

.cardInfo {
  margin-inline: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  h3 {
    color: var(--mainHeaders);
    margin-bottom: 30px;
    margin-top: 15px;
    transition: margin-bottom 0.1s ease-in;
  }

  p {
    color: var(--mainHeaders);
    opacity: 0.4;
    margin: 0;
    margin-bottom: 10px;
  }
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  a {
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: var(--boxColor);
    height: 50px;
    border: none;
    color: var(--mainHeaders);
    opacity: 0.7;
    text-align: start;
    padding-left: 20px;
    align-content: center;
    &:hover {
      background-color: var(--elementColor);
      cursor: pointer;
    }
  }
}