.projectContainer {
  padding: 20px;
  width: 80%;
  height: 100%;
  min-width: 80%;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.topNav button {
  height: 50px;
  width: 50px;
  background-image: url("/images/backArrow.svg");
  background-position: center;
  background-size: contain;
  border: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1);
  transition: transform 0.5s ease-in;
}

.topNav button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.socials {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 15px;
  margin: 0;
}

.socials li {
  display: flex;
}

.socials a {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: transform 0.3s ease-in
}

.socials a:hover {
  transform: scale(1.2);
}

#linkedin {
  background-image: url("/images/linkedin.svg");
}

#mail {
  background-image: url('/images/mail.svg');
}

#github {
  background-image: url('/images/github.svg');
}

.projectInfo {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.projectInfo h1 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 10px;
}

.iframeContainer {
  position: relative;
  width: 100%;
  min-height: 400px;
  transition: all 0.5s ease-in;
}

iframe {
  position: relative;
  width: 100%;
  min-height: 400px;
  border: 5px solid;
  border-image-source: linear-gradient(to bottom, var(--yellowColor), var(--greenColor));
  border-image-slice: 1;
  transition: all 0.5s ease-in;
}

#fullScreen {
  position: absolute;
  width: 100%;
  min-height: 90vh;
  z-index: 1;
  top: 0;
  left: 0;
}

.fullScreen {
  position: absolute;
  width: 100%;
  min-height: 90vh;
  z-index: 1;
  top: 0;
  left: 0;
}

.iframeContainer button {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: var(--zoomButton);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  z-index: 10;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.iframeContainer button:hover {
  transform: scale(1.2);
}

.fullscreenButton {
  background-size: contain;
  bottom: 20px;
  right: 20px;
}

.githubButton {
  bottom: 20px;
  right: 80px;
  background-image: url("/images/githubBlack.svg");
  background-size: 80%;
}

.buttonPlus {
  background-image: url("/images/zoomIn.svg");
}

.buttonMinus {
  background-image: url("/images/zoomOut.svg");
}

.iframeContainer button:hover {
  cursor: pointer;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
}

.bottomSection p {
  font-size: 1.5rem;
  max-width: 70%;
  margin-block: 50px;
}

.projectStackContainer {
  width: 25%;
  margin-block: 50px;
}

.projectStackContainer h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  text-wrap: nowrap;
}

.stackList {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 10px;
}

.stackList::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 60%;
  border-radius: 3px;
  top: 0;
  left: 0;
  border-width: 20px 0 0 20px;
  background: var(--cornerBordersColor);
  clip-path: polygon(100% 0%, 100% 5px, 5px 5px, 5px 100%, 0% 100%, 0% 0%);
}

.stackList li {
  border-bottom: 3px solid;
  border-image-source: linear-gradient(135deg, var(--yellowColor) 1%, var(--greenColor) 100%);
  border-image-slice: 1;
  margin-top: 20px;
  font-size: 2rem;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

@media screen and (max-width: 800px) {
  .projectContainer {
    min-width: 90%;
  }

  .fullScreen {
    width: 99%;
  }

  .bottomSection {
    flex-direction: column;
  }

  .bottomSection p {
    max-width: 100%;
  }

  .projectStackContainer {
    width: 90%;
  }

  .iframeContainer {
    min-height: 300px;
  }
}
