@font-face {
  font-family: 'metrophobic';
  src: url('/src/assets/Metrophobic-Regular.ttf');
}

:root {
  --mainFont: 'metrophobic', 'Courier New', Courier, monospace;
  --textColor: #9A9A9A;
  --mainBackground: linear-gradient(#0E0E0E 60%, #25381C);
  --yellowColor: #E8E375;
  --greenColor: #1E4F1D;
  --cornerBordersColor: linear-gradient(135deg, #E8E375 1%, #1E4F1D 35%);
}

html {
  min-height: 100vh;
}

body {
  background: var(--mainBackground);
  color: var(--textColor);
  box-sizing: border-box;
  font-family: var(--mainFont);
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 85vw;
  margin: 80px auto;
  max-width: 100%;
}

main::before, main::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 3px;
}

main::before {
  top: 0;
  left: 0;
  border-width: 20px 0 0 20px;
  background: var(--cornerBordersColor);
  clip-path: polygon(100% 0%, 90% 20px, 20px 20px, 20px 90%, 0% 100%, 0% 0%);
}

main::after {
  bottom: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  background: var(--cornerBordersColor);
  clip-path: polygon(100% 0%, 90% 20px, 20px 20px, 20px 90%, 0% 100%, 0% 0%);
  rotate: 180deg;
}

@media screen and (max-width: 900px) {
  main::before {
    clip-path: polygon(100% 0%, 90% 10px, 10px 10px, 10px 90%, 0% 100%, 0% 0%);
  }

  main::after {
    clip-path: polygon(100% 0%, 90% 10px, 10px 10px, 10px 90%, 0% 100%, 0% 0%);
  }
}

