@font-face {
  font-family: 'metrophobic';
  src: url('/src/assets/Metrophobic-Regular.ttf');
}

:root {
  --mainFont: 'metrophobic', 'Courier New', Courier, monospace;
  --textColor: #9A9A9A;
  --mainBackground: linear-gradient(#0E0E0E 60%, #25381C);
  --yellowColor: #E8E375;
  --greenColor: #1E4F1D;
  --zoomButton: #000000;
  --cornerBordersColor: linear-gradient(135deg, var(--yellowColor) 1%, var(--greenColor) 35%);
}

html {
  min-height: 100vh;
}

body {
  background: var(--mainBackground);
  color: var(--textColor);
  box-sizing: border-box;
  font-family: var(--mainFont);
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 85vw;
  margin-inline: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 85vw;
  transition: max-width 1s ease-in-out;
}

.overflow {
  overflow: hidden;
}

.animation {
  overflow: hidden;
  max-width: 0vw;
}

main::before, main::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 3px;
}

main::before {
  top: 0;
  left: 0;
  border-width: 20px 0 0 20px;
  background: var(--cornerBordersColor);
  clip-path: polygon(100% 0%, 90% 20px, 20px 20px, 20px 90%, 0% 100%, 0% 0%);
}

main::after {
  bottom: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  background: var(--cornerBordersColor);
  clip-path: polygon(100% 0%, 90% 20px, 20px 20px, 20px 90%, 0% 100%, 0% 0%);
  rotate: 180deg;
}

.author {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
}

@media screen and (max-width: 900px) {
  main {
    margin-top: 40px;
  }

  main::before {
    clip-path: polygon(100% 0%, 90% 10px, 10px 10px, 10px 90%, 0% 100%, 0% 0%);
  }

  main::after {
    clip-path: polygon(100% 0%, 90% 10px, 10px 10px, 10px 90%, 0% 100%, 0% 0%);
  }

  .author {
    font-size: 1rem;
  }
}

