@font-face {
  font-family: 'Inter';
  src: url("/assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: 'poppins';
  src: url("/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'poppins bold';
  src: url("/assets/fonts/Poppins-Bold.ttf");
}

:root {
  font-family: 'poppins', 'Inter', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default = dark theme */
.dark-theme {
  --elementColor: rgba(90, 191, 216, 1);
  --boxColor: rgba(10, 30, 50, 1);
  --mainHeaders: rgba(255, 255, 255, 1);

  --backgroundColor: rgba(0, 15, 30, 1);
  --textColor: rgba(90, 191, 216, 1);
}

/* Light theme */
.light-theme {
  --elementColor: rgb(29, 120, 211);
  --boxColor: rgba(230, 235, 240, 1);
  --mainHeaders: rgb(0, 49, 98);

  --backgroundColor: rgba(245, 245, 245, 1);
  --textColor: rgba(30, 45, 60, 1);
}

main {
  margin: 30px 10vw;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: background-color 0.5s, color 0.5s;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--mainHeaders);
  opacity: 0.7;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--mainHeaders);
  margin: 0;
}

h2 {
  margin: 0;
  color: var(--elementColor);
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(30, 45, 60, 1);
    background-color: rgba(245, 245, 245, 1);

    --elemetColor: rgba(0, 191, 255, 1);
    --boxColor: rgba(230, 235, 240, 1);
    --mainHeaders: rgba(0, 15, 30, 1);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
