.homePageMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 150px;
  padding-bottom: 50px;
}

.projectsHeader {
  color: var(--mainHeaders);
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  overflow-y: hidden;
  place-items: center;
}

.closed {
  max-height: 310px;
}

.open {
  max-height: 100%;
}

.openToggleContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
}

.openToggleContainer::before {
  content: '';
  position: absolute;
  bottom: 32px;
  left: 0;
  width: calc(50% - 100px);
  height: 2px;
  background: var(--elementColor);
}

.openToggleContainer::after {
  content: '';
  position: absolute;
  bottom: 32px;
  right: 0;
  width: calc(50% - 100px);
  height: 2px;
  background: var(--elementColor);
}

.openToggleButton {
  position: relative;
  z-index: 1;
  padding: 10px 30px;
  background-color: var(--boxColor);
  color: var(--mainHeaders);
  border: 2px solid var(--elementColor);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.openToggleButton::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--elementColor);
  border-top: none;
  border-radius: 0 0 100px 100px;
  z-index: -1;
}

.openToggleButton:hover {
  background-color: var(--elementColor);
}

.skillsSocialsContainer {
  display: flex;
  gap: 100px;
}